@keyframes seq-preloader {
  50% {
    opacity: 1;
  }
  
  100% {
    opacity: 0;
  }
}

h3{
	font-size: 25px;
	color: blanchedalmond;
	padding-top: 0;
	padding-left: 20px;
}

.seq-preloader {
  background: white;
  visibility: visible;
  opacity: 1;
  position: absolute;
  z-index: 9999;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.seq-preloader.seq-preloaded {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s .5s, opacity .5s;
}

.seq-preload-indicator {
  overflow: visible;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.seq-preload-circle {
  display: inline-block;
  height: 12px;
  width: 12px;
  fill: #7a7a7a;
  opacity: 0;
  animation: seq-preloader 1.25s infinite;
}

.seq-preload-circle-2 {
  animation-delay: .15s;
}

.seq-preload-circle-3 {
  animation-delay: .3s;
}

.seq-preload-indicator-fallback {
  width: 42px;
  overflow: visible;
}

.seq-preload-indicator-fallback .seq-preload-circle {
  width: 8px;
  height:8px;
  background-color: #f4f4f4;
  border-radius: 100%;
  opacity: 1;
  display: inline-block;
  vertical-align: middle;
}

.seq-preload-indicator-fallback .seq-preload-circle-2 {
  margin-left: 3px;
  margin-right: 3px;
  width: 12px;
  height: 12px;
}

.seq-preload-indicator-fallback .seq-preload-circle-3 {
  width: 16px;
  height: 16px;
}


/* MAIN CSS */

@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #fff;
  }
}
@keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #fff;
  }
}
@-webkit-keyframes fillColour {
  0% {
    color: #fff;
  }
  50% {
    color: #fff;
  }
  100% {
    color: #333;
  }
}
@keyframes fillColour {
  0% {
    color: #fff;
  }
  50% {
    color: #fff;
  }
  100% {
    color: #333;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
	overflow: hidden;
}

body {
	background-image: url(../img/bg1.jpg);
	height: 100%;
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	overflow: hidden;
	font-size: 100%;
	z-index: 0;
}

nav {
	top: 10vh;
	bottom: 5vh;
  	text-align: center;
  	background: rgba(0, 0, 0, 0.8);
  	position: fixed;
  	z-index: 100;
  	height: 80vh;
  	left: 0;
  	width: 20%;
  	font-weight: 300;
	font-size: 1rem;
	z-index: 1;
}
	
nav ul li a {
	top: 10vh;
	font-size: 18px;
}

nav ul {
	margin-top: 60px;
  	text-align: left;
  	margin-left: 40px;
  	list-style-type: none;
  	height: 48vh;
  	display: -webkit-box;
  	display: -ms-flexbox;
  	display: flex;
  	-webkit-box-orient: vertical;
  	-webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  	-ms-flex-pack: distribute;
    justify-content: space-around;
}

nav ul li {
	margin: 20px 0px;
}

nav em {
	font-style: normal;
	margin-left: 5px;
	font-size: 14px;
}

nav ul li i {
	width: 25px;
}

nav a, nav a:visited, nav a:active {
  color: #fff;
}

nav a {
	text-decoration: none!important;
	font-size: 14px;
	letter-spacing: 0.5px;
  	-webkit-transition: color 2s, background 1s;
  	transition: color 2s, background 1s;
  	padding: 20px 30px;
  	position: relative;
  	z-index: 0;
}

nav a.active {
  background-color: #fff;
  color: #232323;
}

nav a::before {
  content: "";
  position: absolute;
  height: 0%;
  width: 0%;
  bottom: 0;
  left: 0;
  opacity: 1;
  z-index: -1;
}

nav a:hover {
	text-decoration: none;
  -webkit-animation: fillColour 0.7s forwards ease-in-out;
          animation: fillColour 0.7s forwards ease-in-out;
}

nav a:hover::before {
  -webkit-animation: fill 0.7s forwards ease-in-out;
          animation: fill 0.7s forwards ease-in-out;
  opacity: 1;
}

.slides {
  width: 600vw;
  height: 100vh;
  -webkit-transition: -webkit-transform 0.8s ease;
  transition: -webkit-transform 0.8s ease;
  transition: transform 0.8s ease;
  transition: transform 0.8s ease, -webkit-transform 0.8s ease;
  opacity: 0.9;
  z-index: 1;
}

.slides .slide {
  height: 100vh;
  width: 100vw;
  float: left;
  text-align: center;
  background-size: cover;
}

.slides .slide .content {
  overflow-y: scroll;
  position: relative;
  width: 70%;
  height: 80%;
  left: 30%;
  top: 10%;
  bottom: 10%;
  background: rgba(0, 0, 0, 0.95);
}

.content::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Add a thumb */
.content::-webkit-scrollbar-thumb {
    background: rgba(250, 250, 250, 0.5);
}

.slides .slide img {
  width: 100%;
}

.main-btn a:hover {
	background-color: #26D0D6; 
	color: #232323!important;
}

.buton a:hover {
	background-color: #26D0D6; 
	color: #232323!important;
	text-decoration: none;
}

.first-content {
	padding: 100px;
	text-align: left;
	padding-top: 13%;
}

.first-content .author-image img {
	margin-top: 15px;
	border-radius: 30px;
	max-width: 100%;
	overflow: hidden;
	float: left;
	margin-right: 35px;
}

.first-content h2 {
	font-size: 36px;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	letter-spacing: 0.5px;
	border-bottom: 2px solid #fff;
	display: inline-block;
	padding-bottom: 10px;
	margin-bottom: 20px;
	margin-top: 0px;
}

.first-content p {
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 2px;
	line-height: 26px;
	margin-bottom: 20px;
}

.first-content .main-btn {
	display: inline-block;
	margin-right: 15px;
}

.first-content .main-btn a {
	display: inline-block;
	border: 2px solid #fff;
	padding: 8px 15px;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
	text-decoration: none;
	transition: all 0.5s;
	transition: all 0.5s;
}

.second-content .container-fluid {
	padding-right: 0px;
	padding-left: 0px;
}

.second-content .container-fluid .col-md-6 {
	padding-right: 0px;
	padding-left: 0px;
}

.second-content .right-image img {
	max-width: 100%;
	min-width: 100%;
	overflow: hidden;
	float: right;
}

.second-content .left-content {
	padding: 60px;
	text-align: left;
}

.buton{
	display: inline-block;
	margin-right: 15px;
}

.buton a{
	display: inline-block;
	border: 2px solid #fff;
	padding: 8px 15px;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
	text-decoration: none;
	transition: all 0.5s;
	transition: all 0.5s;
	z-index: 15;
}


.second-content p {
	font-size: 16px;
	color: #fff;
	letter-spacing: 0.5px;
	font-weight: 300;
	line-height: 24px;
	margin-bottom: 30px;
}

.second-content a {
	color: #fff;	
}

.second-content .main-btn a {
	display: inline-block;
	border: 2px solid #fff;
	padding: 8px 15px;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
	text-decoration: none;
	transition: all 0.5s;
}

.fourth-content {
	padding: 5px;
}

.fourth-content .container-fluid {
	padding-right: 15px;
	padding-left: 15px;
}

.fourth-content .container-fluid .col-md-4 {
	padding-right: 0px;
	padding-left: 0px;
}

.fourth-content .item {
	margin: 10px;
}

.fourth-content .item img {
	max-width: 100%;
	overflow: hidden;
}

.fourth-content .item .thumb {
	position: relative;
}

.fourth-content .item .hover-effect {
	text-align: left;
	position: absolute;
	color: #fff;
	background-color: rgba(0,0,0,0.95);
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	opacity: 0;
	visibility: hidden;
	transition: all 0.8s;
}

.fourth-content .item:hover .hover-effect {
	opacity: 1;
	visibility: visible;
}

.fourth-content .item .hover-effect .hover-content {
	transform: translateY(-50%);
    position: absolute;
    text-align: left;
    width: 100%;
    top: 50%;
    left: 0;
    padding: 30px;
}

.fourth-content .item .hover-effect h2 {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	letter-spacing: 0.5px;
	border-bottom: 1px solid #fff;
	display: inline-block;
	padding-bottom: 10px;
	margin-bottom: 10px;
	margin-top: 0px;
}

.fourth-content .item .hover-effect p {
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	line-height: 22px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.fourth-content .main-btn a{
	display: inline-block;
	border: 2px solid #fff;
	padding: 8px 15px;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
	text-decoration: none;
	transition: all 0.5s;
}

.heading{
	font-size: 36px;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	letter-spacing: 0.5px;
	border-bottom: 2px solid #fff;
	display: block;
	padding-bottom: 10px;
	margin-bottom: 20px;
	margin-top: 10px;
}

.fifth-content .container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

.fifth-content .container-fluid .col-md-6 {
	padding-left: 0px;
	padding-right: 0px;
}

.fifth-content #contact {
	padding: 50px 50px 50px 50px;
}

.fifth-content input {
  border-radius: 0px;
  padding-left: 15px;
  font-size: 13px;
  font-weight: 300;
  color: #fff;
  background-color: rgba(250, 250, 250, 0.15);
  outline: none;
  border: none;
  box-shadow: none;
  line-height: 40px;
  height: 40px;
  width: 100%;
  margin-bottom: 25px;
}

.fifth-content textarea {
  border-radius: 0px;
  padding-left: 15px;
  padding-top: 10px;
  font-size: 13px;
  font-weight: 300;
  color: #fff;
  background-color: rgba(250, 250, 250, 0.15);
  outline: none;
  border: none;
  box-shadow: none;
  height: 165px;
  max-height: 220px;
  width: 100%;
  max-width: 100%;
  margin-bottom: 25px;
}

.fifth-content button {
	max-width: 100%;
	width: 100%;
    display: inline-block;
	border: 2px solid #fff;
	padding: 8px 15px;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
	text-decoration: none;
	background-color: transparent;
	border-radius: 0px;
	transition: all 0.5s;
}

.fifth-content button:hover {
	color: #232323;
	background-color: #fff;
}

.footer .content {
	left: 30%;
	width: 70%;
	max-width: 70%;
	position: fixed;
	bottom: 0;
	right: 0;
	display: inline-block;
}

.footer .content p {
	text-align: center;
	font-size: 13px;
	color: #fff;
	margin-bottom: 20px;
}

.footer .content p a {
	color: #aaa;
	text-decoration: none;
}

.service {
    text-align: center;
}

.service-icon i {
    font-size: 50px;
    color: #00B0DC;
    margin-bottom: 20px;
}

.service-content h4{
	color: #fff;
	font-size: 25px;
}

.service-box {

    padding: 20px;
    margin-bottom: 40px;
    position: relative;
    transition: .9s;
}

.service-box:hover:after {
    top: 0;
    height: 100%;
    transition: 0.9s;
}

.service-box:hover .after {
    bottom: 0;
    height: 100%;
    transition: 0.9s;
}

.service-box:hover:before {
    left: 0;
    width: 100%;
    transition: 0.9s;
}

.service-box:hover .before {
    right: 0;
    width: 100%;
    transition: 0.9s;
}

.service-box:hover:before,
.service-box:hover .before {
    width: 100%;
    transition: 0.9s;
}

.service-box:after {
    height: 80%;
    width: 2px;
    content: '';
    top: 10%;
    left: 0px;
    transition: 0.9s;
}

.service-box .before,.service-box .after,.service-box:before,.service-box:after {
    background: #777;
    position: absolute;
    transition: 0.9s;
}

.service-box:before {
    height: 2px;
    width: 80%;
    content: '';
    top: 0px;
    left: 10%;
    transition: 0.9s;
}

.service-box .before {
    height: 2px;
    width: 80%;
    bottom: 0px;
    right: 10%;
    transition: 0.9s;
}

.service-box .after {
    height: 80%;
    width: 2px;
    bottom: 10%;
    right: 0px;
    transition: 0.9s;
}

.fix-down {
    margin-bottom: -30px;
}

a:visited{
	color: white !important;
}

.resumes {
	padding: 12px;
	width: 100%;
    list-style: none;
}

.resumes li {
    padding: 20px;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.07);
    overflow: hidden;
    position: relative;
}

.resumes li h3 {
    color: #fff;
	font-size: 25px;
    margin-bottom: 12px;
}

.resumes li h4 {
    font-size: 15px;
    color: #00B0DC;
}

.resumes li h5 {
    margin-bottom: 8px;
    color: #fff;
}

.resumes li p {
    margin-bottom: 0;
    font-size: 15px;
    position: relative;
    z-index: 1;
}

.top{
	background-color: rgba(250, 250, 250, 0.15);
	margin-top: 50px; 
	height: 55vh; 
	width: 20vw; 
	left: 4%; 
	z-index: 12;
}

.social-links {
	margin-top: 40px;
	display: flex;
	text-shadow: none;
  }
  
.social-links a {
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.24);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	color: #fff;
	line-height: 1;
	margin-right: 8px;
	border-radius: 50%;
	width: 40px;
	height: 40px;
  }
.social-links a:hover {
	background: #26D0D6;
  }

  .progress-bar {
	width: 0;
	animation: progress 1.5s ease-in-out forwards;
	
	.title{
		opacity: 0;
		animation: show 0.35s forwards ease-in-out 0.5s;
	}
	} 

	
	@keyframes progress {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
	} 
	@keyframes show  {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
	}
/* REPONSIVE */

@media (max-width: 1000px) {

	nav {
		top: 0vh;
	    left: 0px;
	    height: 45px;
	    background-color: rgba(0,0,0,0.8);
	    width: 100%;
	    text-align: center;
	    z-index: 100;
	    font-weight: 300;
		font-size: 1rem;
		z-index: 1;
	}

	nav ul {
		margin-top: 0px; 
		padding: 0;
		margin-left: 40px;
	  	list-style-type: none;
		display: inline-block;
		height: 40px;
	}
	nav ul li {
		margin: 0;
		padding: 0;
		float:left;
	}

	nav ul li a {
		top: 0vh;
		text-decoration: none;
		padding: 10px 20px;
		display: block;
		color: #FFF;
		text-align: center;
	}
	nav ul li em {
		display: none;
	}
	

	.slides {
	  opacity: 0.95;
	}

	.slides .slide .content {
	  overflow-y: scroll;
	  position: relative;
	  width: 90%;
	  height: 85%;
	  left: 5%;
	  top: 10%;
	  bottom: 10%;
	  background: rgba(0, 0, 0, 0.95);
	}
	
	.first-content {
		text-align: center;
		padding: 50px;
	}

	.first-content .author-image img {
		max-width: 195px;
		float: none;
		margin-right: 0px;
		margin-bottom: 30px;
	}

	.fifth-content #contact {
		padding: 30px 30px 30px 30px;
	}

.top{
	background-color: rgba(250, 250, 250, 0.15);
	margin-top: 50px; 
	height: 55vh; 
	width: 20vw; 
	left: 4%; 
	z-index: 12;
}

}



@media (max-width: 749px) {

	
	nav ul {
		text-align: center;
		margin-left: 0px;
	}

	nav ul li em {
		display: none;
	}
	

	nav ul li i {
		width: 20px;
		height: 20px;
		line-height: 20px;
		text-align: center;
	}

	.top{
	background-color: rgba(250, 250, 250, 0.15);
	margin-top: 50px; 
	height: 350px; 
	width: 550px; 
	left: 4%;
	right: 4%; 
	z-index: 12;
}

	.first-content {
		padding: 30px 5px;
	}

	.first-content .main-btn {
		display: inline-block;
		margin-right: 0px;
		margin-bottom: 15px;
	}

	.second-content .left-content {
		padding: 30px;
		text-align: left;
	}

	.fourth-content .item .hover-effect h2 {
		font-size: 15px;
	}

	.fifth-content #contact {
		padding: 15px 15px 15px 15px;
	}

}
@media (max-width: 450px) {
	
	nav a {
	  	padding: 15px 10px;
	}

	nav ul li em {
		display: none;
	}

	nav ul li i {
		width: 20px;
		height: 20px;
		line-height: 20px;
		text-align: center;
	}

	.top{
	background-color: rgba(250, 250, 250, 0.15);
	margin-top: 50px; 
	height: 350px; 
	width: 300px; 
	left: 4%;
	right: 4%; 
	z-index: 12;
}
	.first-content {
		padding: 30px 5px;
	}

	.first-content .main-btn {
		display: inline-block;
		margin-right: 0px;
		margin-bottom: 15px;
	}

	.second-content .left-content {
		padding: 30px;
		text-align: left;
	}

	.fourth-content .item .hover-effect h2 {
		font-size: 15px;
	}

	.fifth-content #contact {
		padding: 15px 15px 15px 15px;
	}

}

